.popup__user-name{
    width: 238px;
    outline-width: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto 50px;
    padding: 0 0 13px;
}

@media screen and (min-width:768px) {
    .popup__user-name{
        width: 358px;
        margin-bottom: 30px;

    }
}
